<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="http://cdn.shopify.com/s/files/1/1543/1751/t/2/assets/timber.scss.css?12480933452343304864" rel="stylesheet" type="text/css" media="all" />
      <link href="http://cdn.shopify.com/s/files/1/1543/1751/t/2/assets/theme.scss.css?12480933452343304864" rel="stylesheet" type="text/css" media="all" />
      <title>
          {% block title %}
          
          {% endblock title %}
      </title>
  </head>
      {% block body %}

      {% endblock body %}
  </body>
</html>
