{% extends "shop/headfooter.html" %}
{% load staticfiles %} 
{% block title %}
BWRTLEY
{% endblock title %}
{% block body %}
<body class="site home-bg-colour home-page">
    <main class="site-content home-main center-outer">
        <div class="center__inner">
            <div class="site-logo" itemscope itemtype="http://schema.org/Organization">        
              <a href="{%url 'collection'%}" itemprop="url" class="site-logo__link">
                <img src="{% static "images/bwrtley.png" %}" style="max-width: 200px" alt="bwrtley" itemprop="logo">
              </a>        
            </div>
        <a class="button" href="{%url 'collection'%}" itemprop="url">Enter Store</a>  
        </div>
    </main>    
    <footer id="footer">
        <div class="wrapper" style="margin:0 auto;">        
            <ul class="nav nav--footer">
                <li><a href="{%url 'dashboard'%}">Admin</a></li>
                <li><a href="{}">Terms</a></li>
                <li><a href="#">Return Policy</a></li>
            </ul> 
        </div>    
    </footer>
{% endblock body %}