{% extends "shop/headfooter.html" %}
{% load staticfiles %} 
{% block title %}
Product - BWRTLEY
{% endblock title %}
{% block body %}
<body class="site product-bg-colour product-page">
    <main class="site-content">
         <header class="header header--collection">
            <div class="wrapper">          
                <div class="text-right large-right cart-link-top">        
                    <a href="#" id="cartToggle">
                        <i class="fas fa-shopping-cart"></i> 
                    </a>
                </div>    
            </div>
            <div class="site-logo>
                <div class="site-logo"> 
                    <a href="{% url 'home'%}" itemprop="url" class="site-logo__link">
                    <img src="{% static "images/bwrtley-logo-black.png" %}" style="max-width: 75px" alt="bertley" itemprop="logo">
                    </a>
                </div>
            </div>
        </header>
        <div>
            <div class="wrapper"> 
                <div class="grid product-single">
                    <div class="grid__item">
                        <div class="product-slideshow-outer">
                            <div class="MagicToolboxContainer">
                                <a class="MagicZoomPlus" id="zoom69257527305" title="Chartreuse Asymmetric Vest Dress"><img itemprop="image" src="{%static "images/test-img.jpg"%}" alt="Chartreuse Asymmetric Vest Dress" /></a>
                                <div class="MagicToolboxSelectorsContainer">
                                    <img src="{%static "images/test-img.jpg"%}">
                                    <img src="{%static "images/test-img.jpg"%}">
                                    <img src="{%static "images/test-img.jpg"%}">    
                                </div>         
                            </div>       
                        </div>       
                        <div class="product-content">
                            <h1 class="product-title" itemprop="name">Chartreuse Asymmetric Vest Dress</h1>
                            <div class="product-description rte" itemprop="description">
                            <p>Description</p>    
                            </div>        
                            <div itemprop="offers" itemscope>      
                                <meta itemprop="priceCurrency">      
                                <link itemprop="availability">                 
                                <form action="#" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">       
                                <select name="id" id="productSelect" class="product-single__variants">
                                        <option  selected="selected"  data-sku="17401-CHART-04XS" value="684001787913">UK4 - <span class=money>£39.99 GBP</span></option>
                                        <option  >US6 - <span class=money>$39.99 GBP</span></option>
                                        <option >US8 - <span class=money>$39.99 GBP</span></option>
                                        <option  >US10 - <span class=money>$39.99 GBP</span></option>
                                        <option  >US12 - <span class=money>$39.99 GBP</span></option>
                                        <option >US14 - <span class=money>$39.99 GBP</span></option>
                                    </select>      
                                    <span class="visually-hidden">Regular price</span>
                                    <button type="submit" name="add" id="AddToCart" class="btn btn--primary">
                                        <span id="AddToCartText">Add to Cart</span>
                                    </button>
                                </form>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}